<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connect 4</title>
    <script type="module" src="./view.js" defer></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<div id="Title">
    <div class="container">
        <span class="lettersquare" id="letter0">C</span>
        <span class="lettersquare" id="letter1">O</span>
        <span class="lettersquare" id="letter2">N</span>
        <span class="lettersquare" id="letter3">N</span>
        <span class="lettersquare" id="letter4">E</span>
        <span class="lettersquare" id="letter5">C</span>
        <span class="lettersquare" id="letter6">T</span>
        <span class="lettersquare" id="letter7">&nbsp;</span>
        <span class="lettersquare" id="letter8">4</span>
    </div>
</div>
<div id="main">
    <div id="menu">
        <label class="activeIA checkbox">
            <input type="checkbox" class="checkbox__system-checkbox" id="AI" name="AI">
            <span class="checkbox__custom-checkbox"></span>
            <span class="checkbox__label">Active IA</span>
        </label>
        <div class="playerChoice">
            <div class="radio_container">
                <div>
                    <input type="radio" id="playerA" name="player" checked>
                    <label for="playerA">Player A</label>
                </div>

                <div>
                    <input type="radio" id="playerB" name="player">
                    <label for="playerB">Player B</label>
                </div>
            </div>
        </div>
    </div>
    <div id="Game"></div>
</div>
<div id="Win" class="modal">
    <div class="modal-content">
        <p>Winner : <span id="Winner"></span></p>
    </div>
</div>
</body>
</html>
