/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainCanvas{
    z-index: 998;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    background-image: url("../16-166825_cage-mma.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 100%;
    width: 30vw;
    padding-top: 100px;
}

#Title{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lettersquare {
    position: relative;
    top: 10px;
    width: 50px;
    height: 70px;
    font-size: 50px;
    color: #ccf;
    text-shadow: 0 0 2px #00f, 2px 1px 0 #00f;
    animation-name: letterbox;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@media (max-width: 780px) {
    .lettersquare {
        width: 40px;
        height: 60px;
        font-size: 40px;
    }
}
@keyframes letterbox {
    from {
        top: 10px;
    }
    to {
        top: 45px;
    }
}

.playerChoice {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.radio_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #cecece;
    width: 280px;
    height: 50px;
    border-radius: 9999px;
    box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
}

input[type="radio"] {
    appearance: none;
    display: none;
}

label {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 80px;
    height: 40px;
    text-align: center;
    border-radius: 9999px;
    overflow: hidden;
    transition: linear 0.3s;
    color: #6e6e6edd;
}

input[type="radio"]:checked + label {
    background-color: #1e90ff;
    color: #f1f3f5;
    transition: 0.3s;
}

.checkbox {
    width: 350px;
    margin-bottom: 10px;
}

.checkbox__system-checkbox {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.checkbox__custom-checkbox {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;

    width: 50px;
    height: 30px;

    border: 1px solid #999;
    border-radius: 15px;
    box-shadow: inset 0 0 5px grey;
    background-color: crimson;
    transition: background-color 0.2s ease-in;
}

.checkbox__custom-checkbox::after {
    content: "";
    box-sizing: border-box;

    width: 28px;
    height: 28px;

    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    transition: left 0.2s ease-in;
}

.checkbox__system-checkbox:checked + .checkbox__custom-checkbox::after {
    left: 20px;
}

.checkbox__system-checkbox:checked + .checkbox__custom-checkbox {
    background-color: forestgreen;
}

.checkbox__system-checkbox:disabled + .checkbox__custom-checkbox {
    opacity: 0.3;
}

.checkbox__system-checkbox:focus ~ .checkbox__label {
    text-decoration: underline grey;
}
